/* Reset some default styles */

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 10px;
}
body {
    font-family: "system-ui";
    background-image: url("assets/BGLanding.jpg");
    background-position: center;
    background-size: cover;
    
}
/* Navbar Section start */
.navbarSection{
    display: inline-flex;
    align-items: center;
    gap: 133px;
}

.navbar{
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 140px;
    border-radius: 16px;
    background: rgba(91, 69, 30, 0.34);
}

.navbarSection .navbar p {
    color: #F1F1F1;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Navbar Section end */

/* For logo */
.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.logoSection .logo {
    width: 128px;
    height: 87px;
}
.logoSection .teks {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Logo end */

/* Img start */

    .bgImg {
    width: 667px;
    height: 474px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 4.7px solid #F1F1F1;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .jargonSection{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    }

    .jargonSection h1{
        width: 560px;
        height: 53px;
    }

    .jargonSection .button {
    display: flex;
    width: 158px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
    .jargonSection .button .text {
    color: #FF9100;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

/* Img end */


header {
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    padding: 10px 0px ;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
}



nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    font-size: larger;
    font-style: bold;
    display: inline;
    margin-right: 20px;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: none;
    color: orange;
    transition: 0.3s;
}
.hero {
    background-image: url('#');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5%;
    width: 100px;
    height: 30px;
    font-family: system-ui;
    font-size: larger;
    font-weight: bold;
}

.btn:hover {
    display: inline-block;
    background-color:#fff;
    color:black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5%;
    transition: 0.5s;
}

.features {
    padding: 50px 0;
    text-align: center;
}

.feature {
    margin: 20px;
    font-style: bold;

}

.about {
    padding: 50px 0;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    margin-bottom: 6%;
}

.contact {
    padding: 30px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
